@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

@layer components {
  .surat-container {
    max-width: 21cm;
    aspect-ratio: 1 / 1.414;
    margin: 0 auto;
    padding: 1cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
    font-size: 11pt;
    line-height: 1.5;
  }
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .surat-container {
    box-shadow: none;
    height: auto;
    aspect-ratio: auto;
    overflow: visible !important;
  }
}